swagger: '2.0'
info:
  version: 2.2.4
  title: Telstra Messaging API
  description: >

    The Telstra SMS Messaging API allows your applications to send and receive
    SMS text messages from Australia's leading network operator.

    It also allows your application to track the delivery status of both sent
    and received SMS messages.
host: tapi.telstra.com
basePath: /v2
securityDefinitions:
  auth:
    type: oauth2
    flow: application
    tokenUrl: 'https://tapi.telstra.com/v2/oauth/token'
    scopes:
      NSMS: NSMS
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/oauth/token':
    post:
      description: Generate authentication token
      summary: Generate authentication token
      tags:
        - authentication
      operationId: auth token
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: client_id
          in: formData
          required: true
          type: string
          description: 'Client identifier to identify the application'
        - name: client_secret
          in: formData
          required: true
          type: string
          description: 'Helps authenticate the identity of the application'
        - name: grant_type
          in: formData
          required: true
          type: string
          description: 'The OAuth grant type used'
          default: client_credentials
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OAuthResponse'
          examples: 
            application/json: 
              {
                "access_token": "access token string",
                "token_type": "token type",
                "expires_in": "3600"
              }                      
        '400':
          description: unsupported_grant_type
        '401':
          description: invalid_client
        '404':
          description: The requested URI does not exist
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      x-unitTests:
        - request:
            method: POST
            uri: '/oauth/token'
            body: 'client_id=123&client_secret=abc123&grant_type=client_credentials'
            headers:
              content-type: 'application/x-www-form-urlencoded'
          expectedResponse:
            status: 200
            body: |
              {
                "access_token": "access token string",
                "token_type": "token type",
                "expires_in": "3600"
              }
  '/messages/sms/{messageId}/status':
    get:
      description: Get Message Status
      summary: Get SMS Status
      tags:
        - Messaging
      operationId: Get SMS Status
      produces:
        - application/json
      parameters:
        - name: messageId
          in: path
          required: true
          type: string
          description: 
            Unique identifier of a message - it is the value returned from a previous POST call to https://api.telstra.com/v2/messages/sms
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: 
              $ref: '#/definitions/OutboundPollResponse'
          examples: 
            application/json:
              [{
                "to": "+19995550123",
                "receivedTimestamp": "2002-10-03T10:00:00-05:00",
                "sentTimestamp": "2002-10-02T10:00:00-05:00",
                "deliveryStatus": "PEND"
              }]
        '400':
          description: |-
            Invalid or missing request parameters .  NOT-PROVISIONED . Request flagged as containing suspicious content
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: |-
            Authorization credentials passed and accepted but account does not have permission . SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist. OLD-NONEXISTANT-MESSAGE-ID. RESOURCE-NOT-FOUND
        '405':
          description: The requested resource does not support the supplied verb
        '415':
          description: API does not support the requested content type
        '422':
          description: >-
            The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        '501':
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: GET
            uri: '/messages/sms/123/status'            
          expectedResponse:
            status: 200
            body: |
              [{
                "to": "+19995550123",
                "receivedTimestamp": "2002-10-03T10:00:00-05:00",
                "sentTimestamp": "2002-10-02T10:00:00-05:00",
                "deliveryStatus": "PEND"
              }]
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/messages/sms':
    get:
      description: Retrieve Messages
      summary: Retrieve SMS Responses
      tags:
        - Messaging
      operationId: Retrieve SMS Responses
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InboundPollResponse'
          examples:
            application/json:
              {
                "status": "success",
                "destinationAddress": "+19995550123",
                "senderAddress": "+19995550123",
                "message": "Hello this is a test message",
                "messageId": "121",
                "sentTimestamp": "2002-10-03T10:00:00-05:00"
              }
        '400':
          description: |-
            Invalid or missing request parameters . NOT-PROVISIONED . Request flagged as containing suspicious content
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: |-
            Authorization credentials passed and accepted but account does not have permission . SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '405':
          description: The requested resource does not support the supplied verb
        '415':
          description: API does not support the requested content type
        '422':
          description: >-
            The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        '501':
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: GET
            uri: '/messages/sms'
          expectedResponse:
            status: 200
            body: |
              {
                "status": "success",
                "destinationAddress": "+19995550123",
                "senderAddress": "+19995550123",
                "message": "Hello this is a test message",
                "messageId": "121",
                "sentTimestamp": "2002-10-03T10:00:00-05:00"
              }
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Send Message
      summary: Send SMS
      tags:
        - Messaging
      operationId: Send SMS
      produces:
        - application/json
      parameters:
        - name: payload
          in: body
          required: true
          description: >-
            A JSON or XML payload containing the recipient's phone number and
            text message.
            The recipient number should be in the format '04xxxxxxxx' where x is
            a digit
          schema:
            $ref: '#/definitions/SendSMSRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/MessageSentResponse'
          examples:
            application/json:
              {
                "messages": [{
                    "to": "Bob",
                    "deliveryStatus": "success",
                    "messageId": "88",
                    "messageStatusURL": "http://thisisdummy.com"
                }],
                "messageType": "SMS",
                "numberSegments": 4,
                "NumberNationalDestinations": 22
              }
        '400':
          description: |-
            Invalid or missing request parameters . TO-MSISDN-NOT-VALID . SENDER-MISSING . DELIVERY-IMPOSSIBLE . FROM-MSISDN-TOO-LONG . BODY-TOO-LONG . BODY-MISSING . TO-MSISDN-TOO-LONG . TECH-ERR . BODY-NOT-VALID . NOT-PROVISIONED . Request flagged as containing suspicious content
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: |-
            Authorization credentials passed and accepted but account does not have permission . SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '405':
          description: The requested resource does not support the supplied verb
        '415':
          description: API does not support the requested content type
        '422':
          description: >-
            The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        '501':
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: POST
            uri: '/messages/sms'
            headers:
              content-type: 'application/json'
            body: |
              {
                "to": "+19995550123",
                "from": "+19995552223",
                "body": "This is a test message",
                "validity": 20,
                "scheduledDelivery": 20,
                "notifyURL": "http://notifyurl.com",
                "replyRequest": true
              }
          expectedResponse:
            status: 201
            body: |
              {
                "messages": [{
                    "to": "Bob",
                    "deliveryStatus": "success",
                    "messageId": "88",
                    "messageStatusURL": "http://thisisdummy.com"
                }],
                "messageType": "SMS",
                "numberSegments": 4,
                "NumberNationalDestinations": 22
              }
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/messages/mms/{messageid}/status':
    get:
      description: Get MMS Status
      summary: Get MMS Status
      tags:
        - Messaging
      operationId: Get MMS Status
      produces:
        - application/json
      parameters:
        - name: messageid
          in: path
          required: true
          type: string
          description: |-
            Unique identifier of a message - it is the value returned from
            a previous POST call to https://api.telstra.com/v2/messages/mms
      responses:
        '200':
          description: 'Outbound poll response'
          schema:
            type: array
            items: 
              $ref: '#/definitions/OutboundPollResponse'
          examples:
            application/json:
              [{
                "to": "+19995550123",
                "receivedTimestamp": "2002-10-03T10:00:00-05:00",
                "sentTimestamp": "2002-10-02T10:00:00-05:00",
                "deliveryStatus": "PEND"
              }]          
        '400':
          description: |-
            Invalid or missing request parameters . NOT-PROVISIONED . Request flagged as containing suspicious content
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: |-
            Authorization credentials passed and accepted but account does not have permission . SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . OLD-NONEXISTANT-MESSAGE-ID . RESOURCE-NOT-FOUND
        '405':
          description: The requested resource does not support the supplied verb
        '415':
          description: API does not support the requested content type
        '422':
          description: >-
            The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        '501':
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      security:
        - auth: 
            - NSMS          
      x-unitTests:
        - request:
            method: GET
            uri: '/messages/mms/123/status'
          expectedResponse:
            status: 200
            body: |
              [{
                "to": "+19995550123",
                "receivedTimestamp": "2002-10-03T10:00:00-05:00",
                "sentTimestamp": "2002-10-02T10:00:00-05:00",
                "deliveryStatus": "PEND"
              }]  
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/messages/mms':
    post:
      description: Send MMS
      summary: Send MMS
      tags:
        - Messaging
      operationId: Send MMS
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: >-
            A JSON or XML payload containing the recipient's phone number

            and MMS message.The recipient number should be in the format
            '04xxxxxxxx'

            where x is a digit
          schema:
            $ref: '#/definitions/SendMmsRequest'
      responses:
        '201':
          description: 'Created'
          schema:
            $ref: '#/definitions/MessageSentResponse'
          examples:
            application/json:
              {
                "messages": [{
                    "to": "Bob",
                    "deliveryStatus": "success",
                    "messageId": "88",
                    "messageStatusURL": "http://thisisdummy.com"
                }],
                "messageType": "SMS",
                "numberSegments": 4,
                "NumberNationalDestinations": 22
              }
        '400':
          description: |-
            Invalid or missing request parameters. MMS-TYPE-MISSING . MMS-PAYLOAD-MISSING . MMS-FILENAME-MISSING . DELIVERY-IMPOSSIBLE . TO-MSISDN-NOT-VALID . SENDER-MISSING . DELIVERY-IMPOSSIBLE . SUBJECT-TOO-LONG . FROM-MSISDN-TOO-LONG . TO-MSISDN-TOO-LONG . NOT-PROVISIONED . Request flagged as containing suspicious content
          schema: {}
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: |-
            Authorization credentials passed and accepted but account does not have permission. SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '405':
          description: The requested resource does not support the supplied verb
        '415':
          description: API does not support the requested content type
        '422':
          description: >-
            The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        '501':
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource
        '503':
          description: The service requested is currently unavailable
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: POST
            uri: '/messages/mms'
            headers:
              content-type: 'application/json'
            body: |
              {
                "from": "+19995554443",
                "to": "+19995550123",
                "subject": "This is a test MMS",
                "replyRequest": true,
                "MMSContent": [{
                  "type": "amr",
                  "filename": "hello",
                  "payload": "payload"
                }]
              }              
          expectedResponse:
            status: 201
            body: |
              {
                "messages": [{
                    "to": "Bob",
                    "deliveryStatus": "success",
                    "messageId": "88",
                    "messageStatusURL": "http://thisisdummy.com"
                }],
                "messageType": "SMS",
                "numberSegments": 4,
                "NumberNationalDestinations": 22
              }
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/messages/provisioning/subscriptions':
    get:
      description: Get mobile number subscription for an account
      summary: Get Subscription
      tags:
        - Provisioning
      operationId: Get Subscription
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionResponse'
          examples:
            application/json:
              {
                "activeDays": "3",
                "notifyURL": "http://notifyurl.com",
                "destinationAddress": "+19995550123"
              }
        '400':
          description: Invalid or missing request parameters
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: >-
            Authorization credentials passed and accepted but account does not
            have permission. SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: GET
            uri: '/messages/provisioning/subscriptions'                          
          expectedResponse:
            status: 200
            body: |
              {
                "activeDays": "3",
                "notifyURL": "http://notifyurl.com",
                "destinationAddress": "+19995550123"
              }              
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Provision a mobile number
      summary: Create Subscription
      tags:
        - Provisioning
      operationId: Create Subscription
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: A JSON payload containing the required attributes
          schema:
            $ref: '#/definitions/ProvisionNumberRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ProvisionNumberResponse'
          examples:
            application/json:
              destinationAddress: '+19995550123'
        '400':
          description: Invalid or missing request parameters
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: >-
            Authorization credentials passed and accepted but account does not
            have permission. SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: POST
            uri: '/messages/provisioning/subscriptions'
            headers:
              content-type: 'application/json'
            body: |
              {
                "activeDays": 20,
                "notifyURL": "http://notifyurl.com"
              }             
          expectedResponse:
            status: 201
            body: |
              {
                "destinationAddress": "+19995550123"
              }         
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      description: Delete a mobile number subscription from an account
      summary: Delete Subscription
      tags:
        - Provisioning
      operationId: Delete Subscription
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: EmptyArr
          schema:
            $ref: '#/definitions/DeleteNumberRequest'
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid or missing request parameters
        '401':
          description: Invalid access token. Please try with a valid token
        '403':
          description: >-
            Authorization credentials passed and accepted but account does not have permission . SpikeArrest-The API call rate limit has been exceeded
        '404':
          description: |-
            The requested URI does not exist . RESOURCE-NOT-FOUND
        '500':
          description: >-
            Technical error : Unable to route the message to a Target Endpoint :
            An error has occurred while processing your request, please refer to
            API Docs for summary on the issue
        default:
          description: An internal error occurred when processing the request
      security:
        - auth:
            - NSMS
      x-unitTests:
        - request:
            method: DELETE
            uri: '/messages/provisioning/subscriptions'
            body: |
              {
                "emptyArr": 0
              }    
            headers:
              content-type: 'application/json'                       
          expectedResponse:
            status: 204
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
definitions:
  DeleteNumberRequest:
    title: DeleteNumberRequest
    type: object
    description: Request model for deleting a mobile number subscription from an account
    properties:
      emptyArr:
        description: 'Empty Arr'
        type: integer
        format: int32
        default: 0
    example:
      {
        "emptyArr": 0
      }           
  ProvisionNumberRequest:
    title: ProvisionNumberRequest
    description: Request model for provision of mobile number
    type: object
    properties:
      activeDays:
        description: 'Number of active days'
        type: integer
        format: int32
        example: 20
      notifyURL:
        description: 'Notify url'
        type: string
    example:
      {
        "activeDays": 20,
        "notifyURL": "http://notifyurl.com"
      }
  GetSubscriptionResponse:
    title: GetSubscriptionResponse
    description: Response model for getting mobile number subscription for an account
    type: object
    properties:
      activeDays:
        description: 'Number of active days'
        type: string
      notifyURL:
        description: 'Notify url configured'
        type: string
      destinationAddress:
        description: The mobile phone number that was allocated
        type: string
    example:
      {
        "activeDays": "3",
        "notifyURL": "http://notifyurl.com",
        "destinationAddress": "+19995550123"
      }    
  ProvisionNumberResponse:
    title: ProvisionNumberResponse
    description: Response model for provision of mobile number request
    type: object
    properties:
      destinationAddress:
        description: The mobile phone number that was allocated
        type: string
    example:
      {
        "destinationAddress": "+19995550123"
      }             
  ErrorError:
    title: Error_Error
    type: object
    description: Model describing an error message
    properties:
      status:
        description: A short error code
        type: string
      message:
        description: Message describing the error.
        type: string
    required:
      - status
    example:
      {
        "status": "404",
        "message": "Not found"
      }
  MessageSentResponse:
    title: MessageSentResponse
    type: object
    description: Model for response received on sending an SMS/MMS
    properties:
      messages:
        description: 'List of messages'
        type: array
        items:
          $ref: '#/definitions/Message'
      messageType:
        description: 'Type of message'
        type: string
      numberSegments:
        description: 'Number of segments'
        type: integer
        format: int32
      NumberNationalDestinations:
        description: 'Number of national destinations'
        type: integer
        format: int32
      NumberInternationalDestinations:
        description: 'Number of international destinations'
        type: integer
        format: int32
    required:
      - messages
      - messageType
      - numberSegments
    example:
      {
        "messages": [{
            "to": "Bob",
            "deliveryStatus": "success",
            "messageId": "88",
            "messageStatusURL": "http://thisisdummy.com"
        }],
        "messageType": "SMS",
        "numberSegments": 4,
        "NumberNationalDestinations": 22
      }    
  OutboundPollResponse:
    title: OutboundPollResponse
    type: object
    description: Model for response containing message status
    properties:
      to:
        description: |-
          The phone number (recipient) the message was sent to (in E.164
          format).
        type: string
      receivedTimestamp:
        description: The date and time when the message was recieved by recipient.
        type: string
      sentTimestamp:
        description: The date and time when the message was sent.
        type: string
      deliveryStatus:
        $ref: '#/definitions/Status'
        example: PEND
    example:
      {
        "to": "+19995550123",
        "receivedTimestamp": "2002-10-03T10:00:00-05:00",
        "sentTimestamp": "2002-10-02T10:00:00-05:00",
        "deliveryStatus": "PEND"
      }    
  Status:
    title: Status
    example: PEND
    type: string
    description: Current status of message
    enum:
      - PEND
      - SENT
      - DELIVRD
      - EXPIRED
      - DELETED
      - UNDVBL
      - REJECTED
      - READ
    x-enum-elements:
      - description: Pending
        name: PEND
      - description: Sent
        name: SENT
      - description: Delivered
        name: DELIVRD
      - description: Expired
        name: EXPIRED
      - description: Deleted
        name: DELETED
      - description: Undeliverable
        name: UNDVBL
      - description: Rejected
        name: REJECTED
      - description: Read
        name: READ
  ErrorErrorError:
    title: Error_Error_Error
    description: Returns error status code and message
    type: object
    properties:
      status:
        description: The status code.
        type: integer
        format: int32
      message:
        description: Message describing the error.
        type: string
    example:
      {
        "status": 404,
        "message": "Not found"
      }        
  MessageType:
    title: MessageType
    example: SMS
    type: string
    description: Types of messages possible
    enum:
      - SMS
      - MMS
      - RCS
    x-enum-elements:
      - description: Sms type
        name: SMS
      - description: Mms type
        name: MMS
      - description: Rcs type
        name: RCS
  Message:
    title: Message
    type: object
    description: Model defining a message
    properties:
      to:
        description: 'To whom you are sending the message'
        type: string
      deliveryStatus:
        description: 'Whether the message was successfully delivered or not'
        type: string
      messageId:
        description: 'Identifier of the message'
        type: string
      messageStatusURL:
        description: 'URL at which you can view status of message'
        type: string
    required:
      - to
      - deliveryStatus
      - messageId
      - messageStatusUrl
    example:
      {
          "to": "Bob",
          "deliveryStatus": "success",
          "messageId": "88",
          "messageStatusURL": "http://thisisdummy.com"
      }    
  OAuthRequest:
    title: OAuthRequest
    type: object
    description: Request model for OAuth
    properties:
      client_id:
        description: Client id
        type: string
      client_secret:
        description: Client secret
        type: string
      grant_type:
        description: OAuth grant type
        type: string
      scopes:
        description: OAuth scope
        type: string
    required:
      - client_id
      - client_secret
      - grant_type
      - scopes
    example:
      {
        "client_id": "123",
        "client_secret": "abc",
        "grant_type": "client_credentials",
        "scopes": "NSMS"
      }
  OAuthResponse:
    title: OAuthResponse
    type: object
    description: Response model for OAuth
    properties:
      access_token:
        description: OAuth access token
        type: string
      token_type:
        description: OAuth token type
        type: string
      expires_in:
        description: OAuth expiry time
        type: string
    example:
      {
        "access_token": "access token string",
        "token_type": "token type",
        "expires_in": "3600"
      }    
  SendSMSRequest:
    title: SendSMSRequest
    type: object
    description: Model defining a SMS request
    properties:
      to:
        description: >-
          Phone number (in E.164 format) to send the SMS to. This number

          can be in international format if preceeded by a ‘+’, or in national
          format.
        type: string
      body:
        description: |-
          The text body of the message. Messages longer than 160 characters
          will be counted as multiple messages.
        type: string
      from:
        description: >-
          Phone number (in E.164 format) the SMS was sent from. If not

          present, the serverice will use the mobile number associated with the
          application,

          or it be an Alphanumeric address of up to 11 characters.
        type: string
      validity:
        description: |-
          How long the platform should attempt to deliver the message for.
          This period is specified in minutes from the message
        type: integer
        format: int32
        example: 20
      scheduledDelivery:
        description: |-
          How long the platform should wait before attempting to send the
          message - specified in minutes.
        type: integer
        format: int32
        example: 20
      notifyURL:
        description: |-
          Contains a URL that will be called once your message has been
          processed. The status may be delivered, expired, deleted, etc.
        type: string
      replyRequest:
        description: >-
          If set to true, the reply message functionality will be implemented

          and the to address will be ignored if present. If false or not
          present,

          then normal message handling is implemented.
        type: boolean
    required:
      - to
      - body
    example:
      {
        "to": "+19995550123",
        "from": "+19995552223",
        "body": "This is a test message",
        "validity": 20,
        "scheduledDelivery": 20,
        "notifyURL": "http://notifyurl.com",
        "replyRequest": true
      }    
  SendMmsRequest:
    title: Send MMS Request
    type: object
    description: Model defining an MMS request
    properties:
      from:
        description: >-
          This will be the source address that will be displayed on the

          receiving device. If it is not present then it will default to the
          MSISDN

          assigned to the app. If replyRequest is set to true, then this field
          will

          be ignored.
        type: string
      to:
        description: This is the destination address.
        type: string
      subject:
        description: The subject that will be used in an MMS message.
        type: string
      replyRequest:
        description: |-
          If set to true, the reply message functionality will be implemented
          and the to address will be ignored if present.
        type: boolean
      MMSContent:
        description: >-
          An Array of content that will be sent in an MMS message. If this

          array is present it will cause the “body” element to be ignored, and
          the

          message will be sent as an MMS.
        type: array
        items:
          $ref: '#/definitions/MMSContent'
    required:
      - from
      - to
      - subject
      - replyRequest
      - MMSContent
    example:
      {
        "from": "+19995554443",
        "to": "+19995550123",
        "subject": "This is a test MMS",
        "replyRequest": true,
        "MMSContent": [{
          "type": "amr",
          "filename": "hello",
          "payload": "payload"
        }]
      }    
  MMSContent:
    title: MMSContent
    type: object
    description: Model definining MMS content
    properties:
      type:
        description: "The following types are supported audio/amr \taudio/aac \taudio/mp3\n\taudio/mpeg3 \taudio/mpeg \taudio/mpg \taudio/wav \taudio/3gpp \taudio/mp4\n\timage/gif \timage/jpeg \timage/jpg \timage/png \timage/bmp \tvideo/mpeg4\n\tvideo/mp4 \tvideo/mpeg \tvideo/3gpp \tvideo/3gp \tvideo/h263 \ttext/plain\n\ttext/x-vCard \ttext/x-vCalendar"
        type: string
      filename:
        description: |-
          The file name to be associated with the content. Some devices
          will display this file name with a placeholder for the content.
        type: string
      payload:
        description: 'The actual payload of the message'
        type: string
    required:
      - type
      - filename
      - payload
    example:
      {
        "type": "amr",
        "filename": "hello",
        "payload": "payload"
      }    
  InboundPollResponse:
    title: InboundPollResponse
    description: |-
      Poll for incoming messages returning the latest. Only works if no
      callback url was specified when provisioning a number.
    type: object
    properties:
      status: 
        description: message status
        type: string
      destinationAddress:
        description: |-
          The phone number (recipient) that the message was sent to(in
          E.164 format).
        type: string
      senderAddress:
        description: |-
          The phone number (sender) that the message was sent from (in
          E.164 format).
        type: string
      message:
        description: Text of the message that was sent
        type: string
      messageId:
        description: Message Id
        type: string
      sentTimestamp:
        description: The date and time when the message was sent by recipient.
        type: string
    example:
      {
        "status": "success",
        "destinationAddress": "+19995550123",
        "senderAddress": "+19995550123",
        "message": "Hello this is a test message",
        "messageId": "121",
        "sentTimestamp": "2002-10-03T10:00:00-05:00"
      }    